@import "setup.scss";

$max-width: 1200px;

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 9rem;
  font-weight: 600;
  margin-top: 10rem;
}

.wrapper {
  width: $max-width;
  margin: 0 auto;
}
header {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;

  .left,
  .right {
    width: 50%;
    height: 100%;
  }

  .right {
    background-color: blue;
  }

  .wrapper {
    position: absolute;
    top: 0;
    left: calc((100vw - #{$max-width}) / 2);
  }

  .instructions {
    margin: 1.5rem 0;
    width: 45%;
    .instructionsHeading {
      font-size: 2.25rem;
      font-weight: 500;
    }
    .instructionsBody {
      font-size: 2rem;
      font-weight: 300;
      line-height: 2rem;
    }
  }

  nav {
    li {
      font-size: 6rem;
      font-weight: 300;
    }
  }
}
