@import "setup";

$max-width: 80vw;

body {
  font-family: "Poppins", sans-serif;
  background-color: black;
  color: white;
}

h1 {
  font-size: 9rem;
  font-weight: 600;
  margin-top: 10rem;
  word-spacing: 1rem;
  letter-spacing: 1rem;
}

a {
  transition: 0.1s ease-in-out;
  &:hover {
    cursor: pointer;

    color: red;
  }
}

.wrapper {
  width: $max-width;
  // max-width: 1200px;
  margin: 0 auto;
}

.videoHero {
  position: relative;
  padding: 0;
  width: 100%;
  height: 100vh;

  h1 {
    position: absolute;
    color: white;
    width: 100%;
    text-align: center;
  }

  .scrollInfo {
    text-align: center;
    color: white;
    background: none;
    border: none;
    border-radius: 20px;
    outline: none;
    width: 15rem;
    height: 5rem;
    position: absolute;
    left: 50%;
    bottom: 2%;
    transform: translateX(-50%) translateY(-50%);
    i {
      padding-bottom: 1rem;
      animation: 4s ease-out mouse-jump infinite;

      @keyframes mouse-jump {
        0% {
          transform: translateY(0);
        }

        50% {
          transform: translateY(-25px) scale(1.25);
        }

        to {
          transform: translateY(0);
        }
      }
    }
  }
}

#myVideo {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

header {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;

  .left,
  .right {
    width: 50%;
    height: 100%;
  }

  .right {
    height: 100%;
    // background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
    //   url("/assets/marsSurface.jpg");
    // background-position: right;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .textContainer {
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    transform: translateX(calc((100vw - #{$max-width}) / 2));
    width: calc(50% - calc((100vw - 80vw) / 2));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .white {
    color: white;
  }

  .instructions {
    margin: 1.5rem 0;
    width: 60%;
    .instructionsHeading {
      font-size: 2.25rem;
      font-weight: 500;
    }
    .instructionsBody {
      font-size: 2rem;
      font-weight: 300;
      line-height: 2rem;
    }
  }

  nav {
    li {
      font-size: 6rem;
      font-weight: 300;
    }
  }
}

section.formSection {
  height: 100vh;
  position: relative;

  .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h2 {
    font-size: 6rem;
    font-weight: 600;
  }

  .flexDiv {
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
    height: 65vh;
    .nonImage {
      width: 45%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .roverDescription {
      h3 {
        margin: 0.5rem 0;
      }
      p {
        text-align: center;
      }
      h3,
      p {
        display: inline-block;
        text-transform: lowercase;
        width: 100%;

        font-size: 1.25rem;
      }
    }
    form {
      width: 100%;
      padding-bottom: 5rem;
    }

    fieldset {
      padding: 2rem 0;
      display: flex;
      flex-direction: column;
    }

    label {
      font-size: 2.5rem;
      font-weight: 300;
      padding-bottom: 1rem;
    }

    input,
    select,
    button {
      width: 60%;
      padding: 1rem;
    }

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;
      border: 1px solid coral;
      color: white;
      background-color: black;

      &:focus {
        border: 1px solid coral;
        outline: none;
      }
    }

    button {
      background-color: red;
      border-radius: 3px;
      border: none;
      display: inline-block;
      cursor: pointer;
      color: #ffffff;
      font-size: 13px;
      padding: 0.5rem 2rem;
      text-decoration: none;
      text-shadow: 0px 1px 0px #854629;
    }

    .imgWrapper {
      width: 45%;
      height: 100%;
    }

    .imageText {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 100%);
    }

    img {
      max-width: 100%;
      max-height: 100%;
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .imageContainer {
      width: 100%;
      height: 100%;
      position: relative;
      text-align: center;

      p {
        display: none;
      }
    }

    .icon {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;
      transform: translate(-50%, -50%);
    }
  }
  .enlargedImageWrapper {
    display: none;
    // display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .enlargedImage {
      width: 90%;
      height: 90%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .closeImage {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

@media (max-width: 1400px) {
  $max-width: 80vw;
  header {
    nav {
      li {
        font-size: 5rem;
      }
    }

    .instructions {
      .instructionsHeading {
        font-size: 1.85rem;
      }
      .instructionsBody {
        font-size: 1.75rem;
      }
    }
  }
}

@media (max-width: 1280px) {
  $max-width: 80vw;
  section.formSection {
    .wrapper {
      width: $max-width;
    }

    .flexDiv {
      .nonImage {
        width: 40%;
      }

      .imgWrapper {
        width: 55%;
      }
    }

    .flexDiv input,
    .flexDiv select,
    .flexDiv button {
      width: 100%;
    }
  }
  header {
    .instructions {
      width: 70%;
    }
    nav {
      li {
        font-size: 4rem;
      }
    }

    .instructions {
      .instructionsHeading {
        font-size: 1.75rem;
      }
      .instructionsBody {
        font-size: 1.5rem;
      }
    }
  }
}

@media (max-width: 980px) {
  $max-width: 80vw;

  header {
    .left {
      width: 55%;
    }

    .right {
      width: 45%;
    }
  }

  section.formSection {
    height: auto;
    .flexDiv {
      height: auto;
      flex-direction: column;
      justify-content: space-between;

      .nonImage {
        width: 100%;
        height: 60vh;
      }

      .imgWrapper {
        width: 100%;
        height: 75vh;
      }
    }
  }
}

@media (max-width: 890px) {
  $max-width: 80vw;

  header {
    .left {
      width: 65%;
    }

    .right {
      width: 35%;
    }
  }

  section.formSection {
    h2 {
      text-align: center;
      padding-top: 2rem;
    }
    .roverDescription {
      p {
        margin-bottom: 1rem;
      }
      h3,
      p {
        text-align: center;
      }
    }
  }
}

@media (max-width: 720px) {
  $max-width: 80vw;
  h1 {
    font-size: 8rem;
  }
  header {
    .right,
    .left {
      display: none;
    }

    .textContainer {
      position: static;
      width: 100%;
      margin: 0 auto;
      transform: none;
    }

    .instructions {
      width: 90%;
      margin: 0 auto;
      text-align: center;
    }

    .instructionsBody {
      line-height: 4rem;
    }

    nav {
      padding-top: 2rem;
      width: 100%;
      text-align: center;

      li {
        padding-top: 2rem;
        font-size: 5rem;
      }
    }
  }
}

@media (max-width: 500px) {
  $max-width: 80vw;

  h1 {
    margin-top: 5rem;
  }

  header {
    nav {
      li {
        font-size: 4rem;
      }
    }
  }

  section.formSection {
    h2 {
      text-align: center;
      font-size: 3rem;
    }
    .flexDiv {
      .nonImage {
        height: auto;
        padding: 0;
      }

      form {
        padding-bottom: 1rem;
      }

      .imgWrapper {
        width: 100%;
        height: 50vh;
      }
    }
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 6.5rem;
    word-spacing: 0.5rem;
    letter-spacing: 0.5rem;
  }
  header {
    nav {
      li {
        font-size: 3.25rem;
      }
    }
  }

  section.formSection {
    h2 {
      font-size: 2.75rem;
    }

    .flexDiv {
      padding-top: 1rem;

      label {
        font-size: 2rem;
        text-align: center;
      }
    }
  }
}
