a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
html,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: black;
  color: white;
}

h1 {
  font-size: 9rem;
  font-weight: 600;
  margin-top: 10rem;
  word-spacing: 1rem;
  letter-spacing: 1rem;
}

a {
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

a:hover {
  cursor: pointer;
  color: red;
}

.wrapper {
  width: 80vw;
  margin: 0 auto;
}

.videoHero {
  position: relative;
  padding: 0;
  width: 100%;
  height: 100vh;
}

.videoHero h1 {
  position: absolute;
  color: white;
  width: 100%;
  text-align: center;
}

.videoHero .scrollInfo {
  text-align: center;
  color: white;
  background: none;
  border: none;
  border-radius: 20px;
  outline: none;
  width: 15rem;
  height: 5rem;
  position: absolute;
  left: 50%;
  bottom: 2%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.videoHero .scrollInfo i {
  padding-bottom: 1rem;
  -webkit-animation: 4s ease-out mouse-jump infinite;
          animation: 4s ease-out mouse-jump infinite;
}

@-webkit-keyframes mouse-jump {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-25px) scale(1.25);
            transform: translateY(-25px) scale(1.25);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes mouse-jump {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-25px) scale(1.25);
            transform: translateY(-25px) scale(1.25);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

#myVideo {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
}

header .left,
header .right {
  width: 50%;
  height: 100%;
}

header .right {
  height: 100%;
}

header .right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header .textContainer {
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
  -webkit-transform: translateX(calc((100vw - 80vw) / 2));
          transform: translateX(calc((100vw - 80vw) / 2));
  width: calc(50% - calc((100vw - 80vw) / 2));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

header .white {
  color: white;
}

header .instructions {
  margin: 1.5rem 0;
  width: 60%;
}

header .instructions .instructionsHeading {
  font-size: 2.25rem;
  font-weight: 500;
}

header .instructions .instructionsBody {
  font-size: 2rem;
  font-weight: 300;
  line-height: 2rem;
}

header nav li {
  font-size: 6rem;
  font-weight: 300;
}

section.formSection {
  height: 100vh;
  position: relative;
}

section.formSection .wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.formSection h2 {
  font-size: 6rem;
  font-weight: 600;
}

section.formSection .flexDiv {
  padding-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 65vh;
}

section.formSection .flexDiv .nonImage {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.formSection .flexDiv .roverDescription h3 {
  margin: 0.5rem 0;
}

section.formSection .flexDiv .roverDescription p {
  text-align: center;
}

section.formSection .flexDiv .roverDescription h3,
section.formSection .flexDiv .roverDescription p {
  display: inline-block;
  text-transform: lowercase;
  width: 100%;
  font-size: 1.25rem;
}

section.formSection .flexDiv form {
  width: 100%;
  padding-bottom: 5rem;
}

section.formSection .flexDiv fieldset {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.formSection .flexDiv label {
  font-size: 2.5rem;
  font-weight: 300;
  padding-bottom: 1rem;
}

section.formSection .flexDiv input,
section.formSection .flexDiv select,
section.formSection .flexDiv button {
  width: 60%;
  padding: 1rem;
}

section.formSection .flexDiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid coral;
  color: white;
  background-color: black;
}

section.formSection .flexDiv select:focus {
  border: 1px solid coral;
  outline: none;
}

section.formSection .flexDiv button {
  background-color: red;
  border-radius: 3px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 13px;
  padding: 0.5rem 2rem;
  text-decoration: none;
  text-shadow: 0px 1px 0px #854629;
}

section.formSection .flexDiv .imgWrapper {
  width: 45%;
  height: 100%;
}

section.formSection .flexDiv .imageText {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
}

section.formSection .flexDiv img {
  max-width: 100%;
  max-height: 100%;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

section.formSection .flexDiv .imageContainer {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

section.formSection .flexDiv .imageContainer p {
  display: none;
}

section.formSection .flexDiv .icon {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

section.formSection .enlargedImageWrapper {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

section.formSection .enlargedImageWrapper .enlargedImage {
  width: 90%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

section.formSection .enlargedImageWrapper .closeImage {
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 1400px) {
  header nav li {
    font-size: 5rem;
  }
  header .instructions .instructionsHeading {
    font-size: 1.85rem;
  }
  header .instructions .instructionsBody {
    font-size: 1.75rem;
  }
}

@media (max-width: 1280px) {
  section.formSection .wrapper {
    width: 80vw;
  }
  section.formSection .flexDiv .nonImage {
    width: 40%;
  }
  section.formSection .flexDiv .imgWrapper {
    width: 55%;
  }
  section.formSection .flexDiv input,
  section.formSection .flexDiv select,
  section.formSection .flexDiv button {
    width: 100%;
  }
  header .instructions {
    width: 70%;
  }
  header nav li {
    font-size: 4rem;
  }
  header .instructions .instructionsHeading {
    font-size: 1.75rem;
  }
  header .instructions .instructionsBody {
    font-size: 1.5rem;
  }
}

@media (max-width: 980px) {
  header .left {
    width: 55%;
  }
  header .right {
    width: 45%;
  }
  section.formSection {
    height: auto;
  }
  section.formSection .flexDiv {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  section.formSection .flexDiv .nonImage {
    width: 100%;
    height: 60vh;
  }
  section.formSection .flexDiv .imgWrapper {
    width: 100%;
    height: 75vh;
  }
}

@media (max-width: 890px) {
  header .left {
    width: 65%;
  }
  header .right {
    width: 35%;
  }
  section.formSection .roverDescription p {
    margin-bottom: 1rem;
  }
  section.formSection .roverDescription h3,
  section.formSection .roverDescription p {
    text-align: center;
  }
}

@media (max-width: 720px) {
  h1 {
    font-size: 8rem;
  }
  header .right,
  header .left {
    display: none;
  }
  header .textContainer {
    position: static;
    width: 100%;
    margin: 0 auto;
    -webkit-transform: none;
            transform: none;
  }
  header .instructions {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  header .instructionsBody {
    line-height: 4rem;
  }
  header nav {
    padding-top: 2rem;
    width: 100%;
    text-align: center;
  }
  header nav li {
    padding-top: 2rem;
    font-size: 5rem;
  }
}

@media (max-width: 500px) {
  h1 {
    margin-top: 5rem;
  }
  header nav li {
    font-size: 4rem;
  }
  section.formSection h2 {
    text-align: center;
    font-size: 3rem;
  }
  section.formSection .flexDiv .nonImage {
    height: auto;
    padding: 5rem 0;
  }
  section.formSection .flexDiv .imgWrapper {
    width: 100%;
    height: 50vh;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 6.5rem;
    word-spacing: 0.5rem;
    letter-spacing: 0.5rem;
  }
  header nav li {
    font-size: 3.25rem;
  }
  section.formSection h2 {
    font-size: 2.75rem;
  }
}
